In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [6]:
df = pd.read_csv("C:/Users/HP/OneDrive/Desktop/Machine Learning(u)/Data Files/4. ST Academy - SVM resource files/Movie_regression.csv",header=0)

In [7]:
df.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,3D_available,Time_taken,Twitter_hastags,Genre,Avg_age_actors,Num_multiplex,Collection
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,YES,109.60,223.840,Thriller,23,494,48000
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,NO,146.64,243.456,Drama,42,462,43200
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,NO,147.88,2022.400,Comedy,38,458,69400
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,YES,185.36,225.344,Drama,45,472,66800
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,NO,176.48,225.792,Drama,55,395,72400

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Marketing expense    506 non-null    float64
 1   Production expense   506 non-null    float64
 2   Multiplex coverage   506 non-null    float64
 3   Budget               506 non-null    float64
 4   Movie_length         506 non-null    float64
 5   Lead_ Actor_Rating   506 non-null    float64
 6   Lead_Actress_rating  506 non-null    float64
 7   Director_rating      506 non-null    float64
 8   Producer_rating      506 non-null    float64
 9   Critic_rating        506 non-null    float64
 10  Trailer_views        506 non-null    int64
 11  3D_available         506 non-null    object
 12  Time_taken           494 non-null    float64
 13  Twitter_hastags      506 non-null    float64
 14  Genre                506 non-null    object
 15  Avg_age_actors       506 non-null    int64
 16  Num_multiplex        506 non-null    int64
 17  Collection           506 non-null    int64
dtypes: float64(12), int64(4), object(2)
memory usage: 71.3+ KB

### Missing Value Imputation

In [9]:
df.describe()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,Collection
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,494.000000,506.000000,506.000000,506.000000,506.000000
mean,92.270471,77.273557,0.445305,34911.144022,142.074901,8.014002,8.185613,8.019664,8.190514,7.810870,449860.715415,157.391498,260.832095,39.181818,545.043478,45057.707510
std,172.030902,13.720706,0.115878,3903.038232,28.148861,1.054266,1.054290,1.059899,1.049601,0.659699,68917.763145,31.295161,104.779133,12.513697,106.332889,18364.351764
min,20.126400,55.920000,0.129000,19781.355000,76.400000,3.840000,4.035000,3.840000,4.030000,6.600000,212912.000000,0.000000,201.152000,3.000000,333.000000,10000.000000
25%,21.640900,65.380000,0.376000,32693.952500,118.525000,7.316250,7.503750,7.296250,7.507500,7.200000,409128.000000,132.300000,223.796000,28.000000,465.000000,34050.000000
50%,25.130200,74.380000,0.462000,34488.217500,151.000000,8.307500,8.495000,8.312500,8.465000,7.960000,462460.000000,160.000000,254.400000,39.000000,535.500000,42400.000000
75%,93.541650,91.200000,0.551000,36793.542500,167.575000,8.865000,9.030000,8.883750,9.030000,8.260000,500247.500000,181.890000,283.416000,50.000000,614.750000,50000.000000
max,1799.524000,110.480000,0.615000,48772.900000,173.500000,9.435000,9.540000,9.425000,9.635000,9.400000,567784.000000,217.520000,2022.400000,60.000000,868.000000,100000.000000

In [10]:
df['Time_taken'].fillna(value = df['Time_taken'].mean(), inplace = True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Marketing expense    506 non-null    float64
 1   Production expense   506 non-null    float64
 2   Multiplex coverage   506 non-null    float64
 3   Budget               506 non-null    float64
 4   Movie_length         506 non-null    float64
 5   Lead_ Actor_Rating   506 non-null    float64
 6   Lead_Actress_rating  506 non-null    float64
 7   Director_rating      506 non-null    float64
 8   Producer_rating      506 non-null    float64
 9   Critic_rating        506 non-null    float64
 10  Trailer_views        506 non-null    int64
 11  3D_available         506 non-null    object
 12  Time_taken           506 non-null    float64
 13  Twitter_hastags      506 non-null    float64
 14  Genre                506 non-null    object
 15  Avg_age_actors       506 non-null    int64
 16  Num_multiplex        506 non-null    int64
 17  Collection           506 non-null    int64
dtypes: float64(12), int64(4), object(2)
memory usage: 71.3+ KB

### Dummy Variable Creation

In [12]:
df.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,3D_available,Time_taken,Twitter_hastags,Genre,Avg_age_actors,Num_multiplex,Collection
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,YES,109.60,223.840,Thriller,23,494,48000
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,NO,146.64,243.456,Drama,42,462,43200
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,NO,147.88,2022.400,Comedy,38,458,69400
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,YES,185.36,225.344,Drama,45,472,66800
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,NO,176.48,225.792,Drama,55,395,72400

In [13]:
df = pd.get_dummies(df, columns = ["3D_available","Genre"], drop_first = True)

In [14]:
df.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,Collection,3D_available_YES,Genre_Comedy,Genre_Drama,Genre_Thriller
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,109.60,223.840,23,494,48000,1,0,0,1
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,146.64,243.456,42,462,43200,0,0,1,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,147.88,2022.400,38,458,69400,0,1,0,0
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,185.36,225.344,45,472,66800,1,0,1,0
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,176.48,225.792,55,395,72400,0,0,1,0

### X-y Split

In [15]:
y = df['Collection']

In [16]:
y.head()

0    48000
1    43200
2    69400
3    66800
4    72400
Name: Collection, dtype: int64

In [17]:
X = df.loc[:, df.columns!='Collection']

In [18]:
X.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,3D_available_YES,Genre_Comedy,Genre_Drama,Genre_Thriller
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,109.60,223.840,23,494,1,0,0,1
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,146.64,243.456,42,462,0,0,1,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,147.88,2022.400,38,458,0,1,0,0
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,185.36,225.344,45,472,1,0,1,0
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,176.48,225.792,55,395,0,0,1,0

In [19]:
X.shape

(506, 19)

In [20]:
y.shape

(506,)

### Test-Train Split

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 0)

In [23]:
X_train

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,3D_available_YES,Genre_Comedy,Genre_Drama,Genre_Thriller
220,27.1618,67.40,0.493,38612.805,162.0,8.485,8.640,8.485,8.670,8.52,480270,174.68,224.272,23,536,0,0,0,1
71,23.1752,76.62,0.587,33113.355,91.0,7.280,7.400,7.290,7.455,8.16,491978,200.68,263.472,46,400,0,0,0,0
240,22.2658,64.86,0.572,38312.835,127.8,6.755,6.935,6.800,6.840,8.68,470107,204.80,224.320,24,387,1,1,0,0
6,21.7658,70.74,0.476,33396.660,140.1,7.065,7.265,7.150,7.400,8.96,459241,139.16,243.664,41,522,1,0,0,1
417,538.8120,91.20,0.321,29463.720,162.6,9.135,9.305,9.095,9.165,6.96,302776,172.16,301.664,60,589,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323,25.6784,69.76,0.507,31707.940,147.8,7.545,7.700,7.550,7.765,8.08,446743,131.40,302.960,25,501,1,1,0,0
192,21.7328,61.88,0.563,39873.790,99.8,6.620,6.830,6.700,6.895,7.96,515199,210.56,225.824,40,448,1,0,1,0
117,23.0196,75.02,0.453,33446.655,156.1,8.615,8.755,8.540,8.595,7.44,454755,189.68,303.072,28,609,0,0,0,0
47,24.5854,68.82,0.552,33496.650,159.0,7.085,7.180,7.125,7.230,7.42,374797,106.64,242.656,44,526,1,0,0,1
172,22.7828,63.10,0.490,30952.460,162.0,8.650,8.730,8.635,8.790,7.68,415584,187.24,243.696,38,530,0,0,0,1

In [24]:
X_test

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,3D_available_YES,Genre_Comedy,Genre_Drama,Genre_Thriller
329,21.3448,61.48,0.540,35179.815,90.7,7.320,7.460,7.275,7.515,8.62,483051,111.040000,283.616,53,452,0,1,0,0
371,204.6460,91.20,0.369,34529.880,173.5,9.310,9.525,9.320,9.505,7.96,454281,196.000000,268.000,25,609,1,1,0,0
219,22.2850,82.78,0.450,35402.015,165.9,8.175,8.375,8.315,8.405,8.72,451935,123.200000,263.680,21,561,1,1,0,0
403,516.0340,91.20,0.307,29713.695,169.5,9.125,9.310,9.060,9.100,6.96,384237,157.391498,301.328,40,677,1,0,0,1
78,21.1292,80.66,0.563,34618.760,127.2,7.330,7.500,7.450,7.690,8.26,447528,176.480000,303.392,53,377,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,20.4110,56.48,0.590,35457.565,109.2,5.340,5.535,5.285,5.465,8.54,539589,115.880000,303.952,22,383,1,0,1,0
455,115.0474,91.20,0.287,36246.375,160.0,8.695,8.790,8.630,9.015,6.96,408819,155.640000,282.256,36,620,0,0,0,1
60,22.9864,65.26,0.547,31891.255,139.7,6.335,6.420,6.235,6.560,7.06,465689,157.391498,222.992,30,439,0,0,0,1
213,22.8104,76.18,0.511,35413.125,105.8,7.945,8.040,7.910,8.215,7.28,504226,151.240000,204.496,3,441,1,1,0,0
108,22.5604,72.12,0.480,35963.070,170.6,8.640,8.910,8.730,8.850,7.82,473768,171.920000,203.168,48,502,0,0,0,0

### Standardizing Data

* we will convert the mean & variance of each of the variable to be 0 and 1.

* Since in SVN we are calculating distance and distance depends upon the scale of each variable therefore standardiztion is reqd.
* Otherwise, the variable with larger scale will have more impact on model than the one with smaller scale.

In [25]:
from sklearn.preprocessing import StandardScaler

In [26]:
sc = StandardScaler().fit(X_train)

In [27]:
sc

StandardScaler()

In [28]:
X_train_std = sc.transform(X_train)

In [29]:
X_train_std

array([[-0.37257438, -0.70492455,  0.42487874, ..., -0.66547513,
        -0.48525664,  1.3293319 ],
       [-0.39709866, -0.04487755,  1.24185891, ..., -0.66547513,
        -0.48525664, -0.75225758],
       [-0.402693  , -0.88675963,  1.11148974, ...,  1.50268577,
        -0.48525664, -0.75225758],
       ...,
       [-0.39805586, -0.15941933,  0.0772276 , ..., -0.66547513,
        -0.48525664, -0.75225758],
       [-0.38842357, -0.60326872,  0.93766417, ..., -0.66547513,
        -0.48525664,  1.3293319 ],
       [-0.39951258, -1.01275558,  0.3988049 , ..., -0.66547513,
        -0.48525664,  1.3293319 ]])

In [30]:
X_test_std = sc.transform(X_test)

In [31]:
X_test_std #after standardization

array([[-0.40835869, -1.12872913,  0.83336883, ...,  1.50268577,
        -0.48525664, -0.75225758],
       [ 0.71925111,  0.9988844 , -0.65283979, ...,  1.50268577,
        -0.48525664, -0.75225758],
       [-0.40257488,  0.39610829,  0.05115377, ...,  1.50268577,
        -0.48525664, -0.75225758],
       ...,
       [-0.3982601 , -0.85812418,  0.89420778, ..., -0.66547513,
        -0.48525664,  1.3293319 ],
       [-0.39934279, -0.07637654,  0.58132175, ...,  1.50268577,
        -0.48525664, -0.75225758],
       [-0.40088071, -0.36702631,  0.31189212, ..., -0.66547513,
        -0.48525664, -0.75225758]])

In [32]:
X_test #before Standardiztion

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,3D_available_YES,Genre_Comedy,Genre_Drama,Genre_Thriller
329,21.3448,61.48,0.540,35179.815,90.7,7.320,7.460,7.275,7.515,8.62,483051,111.040000,283.616,53,452,0,1,0,0
371,204.6460,91.20,0.369,34529.880,173.5,9.310,9.525,9.320,9.505,7.96,454281,196.000000,268.000,25,609,1,1,0,0
219,22.2850,82.78,0.450,35402.015,165.9,8.175,8.375,8.315,8.405,8.72,451935,123.200000,263.680,21,561,1,1,0,0
403,516.0340,91.20,0.307,29713.695,169.5,9.125,9.310,9.060,9.100,6.96,384237,157.391498,301.328,40,677,1,0,0,1
78,21.1292,80.66,0.563,34618.760,127.2,7.330,7.500,7.450,7.690,8.26,447528,176.480000,303.392,53,377,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,20.4110,56.48,0.590,35457.565,109.2,5.340,5.535,5.285,5.465,8.54,539589,115.880000,303.952,22,383,1,0,1,0
455,115.0474,91.20,0.287,36246.375,160.0,8.695,8.790,8.630,9.015,6.96,408819,155.640000,282.256,36,620,0,0,0,1
60,22.9864,65.26,0.547,31891.255,139.7,6.335,6.420,6.235,6.560,7.06,465689,157.391498,222.992,30,439,0,0,0,1
213,22.8104,76.18,0.511,35413.125,105.8,7.945,8.040,7.910,8.215,7.28,504226,151.240000,204.496,3,441,1,1,0,0
108,22.5604,72.12,0.480,35963.070,170.6,8.640,8.910,8.730,8.850,7.82,473768,171.920000,203.168,48,502,0,0,0,0

### Training Regression Tree

In [33]:
from sklearn.svm import SVR

In [50]:
svr = SVR(kernel = 'linear', C = 500)

In [51]:
svr.fit(X_train_std, y_train)

SVR(C=500, kernel='linear')

### Predict values using Trained Model

In [52]:
y_test_pred = svr.predict(X_test_std)
y_train_pred = svr.predict(X_train_std)

In [53]:
y_test_pred

array([54172.88652594, 42360.53493594, 47535.6161038 , 18213.44501931,
       48306.49797341, 39911.30264079, 34154.82438396, 43328.81857968,
       30564.16305183, 47083.06891753, 12883.41530221, 38441.56120077,
       37564.58419372,  8833.24108759, 66743.92804381, 61806.13858547,
       38834.69156187, 65442.06460586, 57070.43984968, 43390.83509428,
       53825.48454162, 39211.12088433, 41594.24518385, 58253.12540463,
       43061.94784582, 13500.91595214, 41078.73255014, 29760.22077231,
       74387.42055942, 44639.66629805, 36802.04559594, 37452.7520558 ,
       37731.81412737, 41015.55708641, 52033.72818305, 35527.23097608,
       25303.12301261, 36494.03996199, 36688.32304647, 35826.51769434,
       47334.38882548, 45971.16054321, 44806.68292955, 27789.57095574,
       50531.91304271, 46829.47085744, 33272.97210625, 40080.92308753,
       15821.17728949, 51706.04815075, 41321.11684481, 39172.79222897,
       47629.5707835 , 67355.55689102, 25492.33272751, 41679.44337221,
       41379.49762789, 34427.17713275, 21377.91828316, 39452.27959782,
       41507.57017202, 41385.5239056 , 65347.76215186, 64736.21438211,
       28593.55570235, 63698.03827034, 36970.12451775, 39406.74374756,
       41973.97645116, 47369.99815953, 46652.62938354, 48994.20498719,
       56649.26148628, 59975.23317298, 49078.5601437 , 10912.138065  ,
       73562.82718846, 44678.03516748, 59180.88872696, 37972.78016716,
       50589.51792056, 43193.66617698, 32319.84798601, 81142.93982977,
       79182.31572751, 47921.64416102, 50883.92006966, 30257.60843529,
       49351.30165872, 37957.94782027, 34050.12134468, 34292.7678546 ,
       43358.96621447, 59307.33495315, 43944.23913867, 42437.47964899,
       -4323.02292966, 52578.89987851, 36600.53522275, 32376.05402602,
       49724.89750621, 48509.77098809])

### Model Performance

In [46]:
from sklearn.metrics import mean_squared_error,r2_score

In [54]:
mean_squared_error(y_test, y_test_pred)

160031907.61713368

In [55]:
r2_score(y_train, y_train_pred)

0.7125944752203907

In [56]:
r2_score(y_test, y_test_pred)

0.5028901447877405